 <!DOCTYPE html>
 <html>
 <head>
     <title>Machine Learning Prediction</title>
     <style>
        body {
            text-align: center;
        }

        .centered-form {
            text-align: center;
            margin: 0 auto;
            width: 50%; /* Adjust the width as needed */
        }

        .centered-title {
            text-align: center;
        }
    </style>
 </head>
 <body>
     <h1>Machine Learning Prediction Form</h1>
     <form action="/value" method="post">
         <label for="a">Transaction Date</label><br>
         <input type="text" name="a" id="a" required>
         <br>
         <br>
         <label for="b">House Age (in years)</label><br>
         <input type="text" name="b" id="b" required>
         <br>
         <br>
         <label for="c">Distance through Nearest MRT (in meters)</label><br>
         <input type="text" name="c" id="c" required>
         <br>
         <br>
         <label for="d">Number of Convenience Stores</label><br>
         <input type="text" name="d" id="d" required>
         <br>
         <br>
         <label for="e">Latitude</label><br>
         <input type="text" name="e" id="e" required>
         <br>
        <br>
         <label for="f">Longitude</label><br>
         <input type="text" name="f" id="f" required>
         <br>
         <br>
         <input type="submit" value="Predict">
     </form>
 
     {% if y %}
     <h2>Predicted Value:</h2>
     <p>{{ y }}</p>
     {% endif %}
 </body>
 </html>
 
